{%extends 'base-admin.html'%}
{%block head%}

<link rel="stylesheet" href="{{ url_for('static',filename='/css/style-admin.css') }}">

{%endblock%}
{%block body%}
<h1>Tabla Reservas</h1>
<table class="table table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID Cabaña</th>
        <th scope="col">ID Reserva</th>
        <th scope="col">Nombre</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Ingreso</th>
        <th scope="col">Salida</th>
      </tr>
    </thead>
    <tbody>

    {% for reserva in reservas %}

    <tr>
        <th scope="row">{{ reserva.cabin_id }}</th>
        <th scope="row">{{ reserva.id }}</th>
        <td>{{ reserva.nombre }}</td>
        <td>{{ reserva.capacidad }}</td>
        <td>{{ reserva.fecha_ingreso }}</td>
        <td>{{ reserva.fecha_salida }}</td>
    </tr>
    </tbody>

    {% endfor %}
  </table>

  <div class="container">
    <div class="form-container">
        <h2 class="text-center">Subir Reserva</h2>
        <form action="{{ url_for('reservasadmin') }}" method="post">
            <div class="mb-3">
                <label for="fnombre" class="form-label">ID cabina</label>
                <input type="text" class="form-control" id="" name="fcabin_id">
            </div>
            <div class="mb-3">
                <label for="fcapacidad" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="" name="fnombre">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Capacidad</label>
                <input type="text" class="form-control" id="" name="fcapacidad">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Fecha Ingreso</label>
                <input type="text" class="form-control" id="" name="fingreso">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Fecha Salida</label>
              <input type="text" class="form-control" id="" name="fsalida">
          </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
  </div>
{%endblock%}